<section class="card">
  <header>{{name}}</header>

  <div class="card-body">
      <p>{{description}}</p>
      <button class="menu-btn bg-danger">Add {{name}} to Cart for ${{price}}</span></button>
  </div>
</section>

