<section class="card">
  {{!-- TODO: REPLACE painting WITH menu AND UPDATE ANY REFERENCES --}}
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      {{!-- TODO: REPLACE artist WITH item AND UPDATE ANY REFERENCES --}}
      <p>{{artist}}</p>
    </div>
  </a>
</section>