<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Five Guys</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"
  />
</head>

<body>
  <header>
    <h1>Welcome to Five Guys!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/checkout">Checkout</a>
    <a id="logout" href="#">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    {{!-- ? Should we change gallery to something different? --}}
    {{{body}}}
  </main>
  {{#if loggedIn}}
  {{!-- /js/logout.js will have event listener for #logout --}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>