{{#if displayCart}}
  <div class="col-sm-12">
    <div class="p-2 width border">
        <h2 class="mb-3">Shopping Cart</h2>
        <div class="container">
            {{#each itemAdd as |item|}}
            <div class="row justify-content-end w-100">
                <p class="col-9">{{name}}</p>
                <p class="col-3">${{price}}</p>
            </div>
            {{/each}}
            <div class="row justify-content-end w-100">
                <h3 class="col-9">Total: </h3>
                <h3 class="col-3">${{subTotal}}</h3>
            </div>
        </div>
    </div>
  </div>
{{/if}}

<form id="payment-form" class="m-2 w-100">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
</form>
<script src="https://js.stripe.com/v3/"></script>
<script src="./js/checkout.js"></script>

