{{#if displayCart}}
  <div class="col-sm-12 col-lg-5">
    <div class="p-2 width border">
        <h2 class="mb-3">Shopping Cart</h2>
        <div class="container">
            {{#each itemAdd as |item|}}
            <div class="row justify-content-end w-100">
                <p class="col-9">{{name}}</p>
                <p class="col-3">${{price}}</p>
            </div>
            {{/each}}
            <div class="row justify-content-end w-100">
                <h3 class="col-9">Total: </h3>
                <h3 class="col-3">${{subTotal}}</h3>
            </div>
        </div>
    </div>
  </div>
{{/if}}

<div class="gallery">
    {{#each menuItems as |menu|}}
    {{> menu-details}}
    {{/each}}
</div>

<script src="./js/cart.js"></script>

